* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, serif;
}
$orange:  rgb(224, 107, 44);
header {
  .nav-mobile {
    position: relative;

    .logo {
      color: white;
      font-size: 1.3rem;
      position: absolute;
      top: 30px;
      left: 30px;

      &::after {
        content: "HHH";
        position: absolute;
        top: -5px;
        right: -15px;
        min-height: 30px;
        min-width: 30px;
        font-size: 15px;
        background-color: transparent;
        border-top: 2px solid white;
        border-right: 2px solid white;
        color: transparent;
      }
      &::before {
        content: "HHH";
        position: absolute;
        bottom: -5px;
        left: -15px;
        min-height: 30px;
        min-width: 30px;
        font-size: 15px;
        background-color: transparent;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
        color: transparent;
      }
    }

    .hamburger {
      
      z-index: 99;
      position: absolute;
      top: 30px;
      right: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      .line {
        height: 3px;
        width: 30px;
        background: rgb(255, 255, 255);
        border-radius: 5px;
        margin: 3px;
      }
    }
    .menu-slide {
     overflow-x: hidden;
      color: white;
      height: 100vh;
      width: 350px;
      min-width: 200px;
      z-index: 5;
      position: absolute;
      top: 0;
      right: 0px;
      
      .menu-items {
        position: absolute;
        top: 0;
        bottom: 0;
        right: -500px;
        width: 350px;
        min-width: 200px;
        background-color: rgba($orange, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .menu-item {
          font-size: 1.1rem;
          list-style: none;
          padding-top: calc(100vh/10);
          a{
            padding: 10px 30px;
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
}
.menu-active{
  transform: translateX(-500px);
  transition: transform 0.7s;
}

.hero {
  height: 100vh;
  overflow-x: hidden;
  .hero-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 10%;

    h1 {
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-size: 2rem;
      margin-top: auto;
    }
    p {
      padding: 2rem 0;
      color: rgb(255, 255, 255);
      font-size: 1rem;
      line-height: 2rem;
      right: 15%;
      margin-right: 20%;
    }
    .hire-me-btn {
        cursor: pointer;
      margin-bottom: auto;
      width: fit-content;
      padding: 10px 30px;
      background: rgba(0, 0, 0, 0.45);
      border: 5px solid $orange;
      color: $orange;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 3px;
      box-shadow: 0 0.7rem 10px rgba(0, 0, 0, 0.45);
      &:hover {
          background:  rgba(0, 0, 0, 0.6);
          transform: scale(1.02);
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top center;
    transform: scaleX(-1);
    z-index: -1;
  }
}
.media {
    position: relative;
    
    .media-list {
        list-style: none;
        position: absolute;
        top: -40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        font-size: 1.2rem;
       
        li {
            margin: 0 15px;
            color: white;
            cursor: pointer;
            &:hover {
              transform: scale(1.2);
              color: $orange;
            }
        }
        &::before { 
            content: '';
            width: 25%;
            height: 2px;
            background: white;
            margin-left: 10px;
            margin-right: 5px;
            } 
        &::after { 
            content: '';
            width: 25%;
            height: 2px;
            background: white;
            margin-right: 10px;
            margin-left: 5px;
        } 
    }
}
.menu {
    margin: 150px 0;
    width: 100%;
    
    h3 {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 60px;
    }
    .menu-list {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-gap: 10px;
       font-size: 1.5rem;
       max-width: 600px;
       margin: auto;
        p {
            font-size: 0.9rem;
            margin-top: 12px;
            font-weight: bold;
        }
        i {
          color: $orange;
        }
        .cupcakes, .bread, .cakes {
            
            text-align: center;
            
        }
    }
}

.my-latest{
  margin-bottom: 120px;
    width: 100%;
    
    .carousel1 {
      .slideshow-container{
        position: relative;
        width: 100%;
        overflow: hidden;
        background-color: rgb(240, 235, 235);
      }
      .image-container{
        display: block;
        overflow: hidden;
      }
      .image-container .image{
        
        width: 100%;
        max-width: 1350px;
        display: block;
        max-height: 500px;
        margin: 0px auto;
        object-fit: cover;
      }
      .prev , .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        padding: 16px;
        margin-top: 22px;
        color: white;
        font-weight: bold;
        font-size: 30px;
        border-radius: 0px 3px 3px 0px;
        cursor: pointer;
        user-select: none;
      }
      .next{
        right: 0px;
        border-radius: 3px 0px 0px 3px;
      }
      .prev:hover , .next:hover{
        background-color: black;
      }
      .dot-container{
        text-align: center;
      }
      .dot{
        position: inherit;
        top: -40px;
        height: 8px;
        width: 36px;
        background-color: #bbb;
        border-radius: 0px;
        display: inline-block;
        cursor: pointer;
        z-index: 1;
        transition: all .5s;
      }
      .active , .dot:hover{
        background-color: #555;
      }
      .content{
        color: white;
        text-align: justify;
        padding: 12px 60px;
        letter-spacing: 1px;
        font-family: verdana,sans-serif;
      }
      .fade{
        animation: fade .3s ease-in-out;
      }
      @keyframes fade {
        0%{
          opacity: 0;
          transform: scale(1);
        }
        50%{
          opacity: 0.5;
          transform: scale(1.01);
        }
        100%{
          opacity: 1;
          transform: scale(1);
        }
      }
      @media only screen and (max-width:700px) {
        .prev , .next{
          padding: 12px;
          font-size: 18px;
        }
        .dot-container{
          padding: 0px;
        }
        .dot{
          height: 4px;
          width: 18px;
        }
        .content{
          font-size: 12px;
          padding: 6px 24px;
        }
      }
    }
   
    
    h3{
        margin-bottom: 80px;
        font-size: 1.1rem;
        text-align: center;
        font-weight: bold;
       }
    
    .more-btn {
        width: fit-content;
        margin-top: 30px;
        margin-left: 10%;
        background: $orange;
        border: 2px solid $orange;
        font-size: 0.8rem;
        color: white;
        padding: 8px 30px;
        margin-bottom: 50px;

    }
}
.about-me{
    width: 100%;
    background: $orange;
    color: white;
    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin: auto;
    }
    .about-text {
        width: 90%;
        margin-top: 30px;
        margin: auto;
        padding: 20px 0;
        padding-bottom: 50px;
        h3 {
            font-size: 1.1rem;
            text-align: center;
            margin: 25px auto;
        }
        p {
            font-size: 0.90rem;
            line-height: 1.5rem;
            text-align: justify;
            padding-bottom: 15px;
        }
        .hobbies {
            .hobby{
                margin-left: 20px;
                list-style: circle;
                font-size: 0.85rem;
            }
        }
    }
}
.contact {
    margin: 150px 0;
    width: 100%;
    text-align: center;
    h3 {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 50px;
    }
    p {
      padding-top: 15px;
        margin-bottom: 50px;
        font-size: 1.1rem;
    }
    i {
      color: $orange;
      &:hover {
        transform: scale(1.2);
      }
    }
    
    .media-list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-bottom: 100px;
        li {
            padding: 0 20px;
            color: $orange;
        }
    }
}



@media (min-width: 400px) {
  .hero {
    .hero-list {
      h1 {
        font-size: calc(2rem + 4.107vw + -16.429px);
      }
      p {
        line-height: calc(2rem + 1.143vw + -4.571px);
        font-size: calc(1rem + 0.536vw + -2.143px);
        margin-right: 30%;
      }
    }
  }
}
@media(min-width: 600px){
    .about-me {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        img {
            margin: auto;
            width: 30%;
            height: 600px;
            max-height: 65vh;
            border-radius: 0;
            object-position: center 25%;
            align-self: flex-start;
        }
        .about-text{
            padding-left: 40px;
            padding-right: 60px;
        }
    }
    .contact {
        .contact-info{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .phone{
            padding-right: 20px;
        }
        .email {
            padding-left: 20px;
        }
    }
}
@media (min-width: 960px) {
  .hero {
    .hero-list {
      h1 {
        font-size: calc(2rem + 23px);
      }
      p {
        font-size: calc(1rem + 3px);
        line-height: calc(2rem + 6.4px);
        margin-right: 45%;
      }
    }
  }
}
